h1{
    font: bold 20px verdana, sans-serif;
}
h2{
    font: bold 14px verdana, sans-serif;
}
header {
  display: block;
  color: #ffffff;
}

body{
    text-align: center;
}

div{
    text-align: left;
}

#agrupar{
    width: 1000px;
    margin: 15px;
    text-align: center;
}
#cabecera{
    background: #0c550c;
    padding: 20px;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px Arial, sans-serif;
}

#button{
    padding: 0;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #18c908;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family: Arial;
	text-decoration: none;
}

.menu li a:hover{
	color: #0011ff;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
    align-items: center;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.info-grid div {
    background-color: #195fe2; /* Color de fondo verde claro */
    padding: 20px;
    border-radius: 5px;
}

.info-grid h2 {
    margin-top: 0;
}

footer {
    background-color: #a0a0a0;
    color: #fff;
    padding: 20px;
    text-align: center;
}